* {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    margin: 10px;
}

input {
    width: 200px;
    height: 30px;
}

.username {}

.password {}

button {
    width: 100px;
    height: 30px;
    background-color: darksalmon;
    border: hidden;
    font-size: 15px;
}