* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(95, 158, 160);
    color: white;
}

.content {
    position: relative;
    width: 400px;
    top: 100px;
    margin: 0 auto;
    background-color: rgba(224, 222, 222, 0.308);
    border-radius: 6px;
}

h1,
div {
    padding: 10px;
    text-align: center;
}

input {
    width: 150px;
    height: 30px;
    padding-left: 30px;
    border: 1px solid white;
}

.username {
    background: url("../image/user.png") no-repeat left;
    background-size: 9%;
}

.password {
    background: url("../image/password.png") no-repeat left;
    background-size: 9%;
}

button {
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
    border: hidden;
    border-radius: 6px;
    font-size: 15px;
    color: white;
    background-color: rgba(234, 140, 55);
}